@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --VeryDarkMagenta: #502050;
  --SoftPink: #ee68a4;
  --DarkGrayishMagenta: #937b92;
  --LightGrayishMagenta: #f7f2f7;
  --White: #ffffff;
}
body {
  font-family: "League Spartan", sans-serif;
  background-color: #2c2c2c;
}
.container {
  max-width: 23.5rem;
  background: var(--White);
  display: flex;
  flex-direction: column;
  padding: 4rem 1rem;
}
@media (min-width: 1024px) {
  body {
    background-color: var(--LightGrayishMagenta);
  }
  .container {
    margin-inline: auto;
    min-width: 900px;
  }

  @layer utilities {
    .grid-areas-layout {
      grid-template-areas:
        "header stars"
        "cards cards";
      gap: 2rem;
    }

    .area-header {
      grid-area: header;
    }

    .area-stars {
      grid-area: stars;
    }

    .area-cards {
      grid-area: cards;
    }
  }
}
