@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --VeryDarkMagenta: #502050;
  --SoftPink: #ee68a4;
  --DarkGrayishMagenta: #937b92;
  --LightGrayishMagenta: #f7f2f7;
  --White: #ffffff;
}
body {
  max-width: 23.5rem;
  margin-inline: auto;
  font-family: "League Spartan", sans-serif;
  background-color: #f0f0f0;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  border: 1px solid red;
  padding-inline: 2rem;
}
